.button{
    width: 153px;
    height: 32px;
    background:var(--main-color);
    border-radius: 5px;
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
@media screen and (max-width: 425px){
        width: 115px;
        font-size: 10px;
    }

    &_main{
        width: 303px;
        height: 54px;
        border-radius: 5px;
        background: var(--main-color);
        font-size: 16px;
        margin-top: 67px;
    @media screen and (max-width: 425px){
            width: 230px;
            height: 42px;
            font-size: 13px;
        }
    }
    &_submit{
        width: 100%;
        height: 55px;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }
    &_mini {
        width: 131px; 
        height: 40px; 
        font-size: 14px;


    }
}