.catalog{
    padding-bottom: 100px;
    &__title {
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        color: #0d0d0d;
    }
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        margin: 0 5px;
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 48px;
        text-transform: uppercase;
        text-align: center;
        color: #6b6b6b;
        transform: skewX(-25deg);
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px var(--main-color);
            border: none;
        }
        div{
            transform: skewX(25deg);
        }
        &_active {
            color: #fff;
            background-color: var(--main-color);
            border: none;
        }
        @media screen and (max-width: 768px){
            font-size: 15px;
            width: 180px;
            
        }
    }
    &__content{
        margin-top: 60px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active{
            display: flex;
        }
    @media screen and (max-width: 1024px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;       
        }
    }
    &-item{
        width: 303px;
        min-height: 442px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        margin-bottom: 20px;
        @media screen and (max-width: 1024px){
            width: 277px;       
    }
        &__img{
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle{
            margin-top: 16px;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
        }
        &__descr{
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }
        &__link{
            display: block;
            margin-top: 10px;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            text-decoration: underline;
            text-align: center;
            color: var(--main-color);
            &:hover{
                color: var(--main-color);
            }
        }
        hr{
            margin: 23px 0;
            border-bottom: none;
            background-color: #e8e8e8;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            line-height: 100%;
            text-decoration: line-through;
            color: #555;
        }
        &__price{
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            color: #050505;
        }
        &__wrapper{
            display: flex;
            width: calc(200% + 40px);
        }
        &__content{
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }

        }
        &__list{
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;     
            padding-left: 19px; 
            margin-bottom: 0;    
            list-style-type: none;  
            &_active{
                transform: translateX(-100%);
                margin-left: 0px;
            }
            li{
                position: relative;
                font-weight: 300;
                font-size: 14px;
                line-height: 150%;
                color: #555;
                margin-bottom: 20px;
                &::before{
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: var(--main-color);
                    left: -14px;
                    top: 7px;
                }
            }

        }
        &__back {
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            text-decoration: underline;
            text-transform: uppercase;
            text-align: center;
            color: #c70101;
            &:hover {
                color: var(--main-color);
            }
        }

    }
    
}