.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    text-transform: uppercase;
    color: #fff;
    @media screen and (max-width: 768px){
        font-size: 30px;
    }
    @media screen and (max-width: 425px){
        font-size: 22px;
    }
    @media screen and (max-width: 375px){
        text-align: center;
    }

}